body{
    background-image: url(contactus.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h2{
    text-decoration: underline rgb(46, 161, 75);
    color: rgb(187, 40, 15);
}

input{
    padding: 10px;
    margin: 5px;
    width: 200px;
}

#textarea{
    padding: 10px;
    margin: 5px;
    width: 200px;
}

button{
    width: 220px;
    padding: 10px;
    margin: 5px;
}

button:hover{
    background-color: brown;
    color:white;
}